# dash is required to call `build:py`
git+git://github.com/plotly/dash
git+git://github.com/plotly/dash-core-components
git+git://github.com/plotly/dash-html-components
git+git://github.com/elben10/dash-renderer
pandas